<h1>Hey ! {{ name }}</h1>
<!-- <h3>{{interpolationFunction('passing parameter from html')}}</h3> -->
<!-- <h2 class="{{color}}" style="color: {{color}}">{{2 + 2}}</h2> -->
<hr/>
<!-- <button (click)="getData('func called')">Click button</button>
<br/><br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder="enter keyup"/>
<button (click)="getData(box.value)">Click button</button>

<p>{{getInputValue}}</p> -->

<!-- <h1>Property Binding</h1>
<p>It helps you set values of property of html elements or directives. Used such as toggle button features, set paths programmatically and share value b/w components</p>
<input type="text" name="text" [value]=propertyValue [disabled]=disable/> -->


<!-- <app-user></app-user>
<app-login></app-login> -->


<!--If-Else-->
<!-- <h1 *ngIf=show>Hello</h1> -->

<!-- <h1 *ngIf="show; then ifBLock else elseBlock"></h1> -->
<!-- <ng-template #ifBLock>
  <h1>If Condition</h1>
</ng-template>
<ng-template #elseBlock>
  <h1>Else Condition</h1>
</ng-template> -->

<!-- <ng-template [ngIf]="show">
  <h1>If Condition</h1>
</ng-template>
<ng-template [ngIf]="!show">
  <h1>Else Condition</h1>
</ng-template> -->



<!--Switch case-->
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="'red'" style="color: red;">Red Color</h1>
  <h1 *ngSwitchCase="'green'" style="color: green;">Green Color</h1>
  <h1 *ngSwitchCase="'blue'" style="color: blue;">Blue Color</h1>
  <h1 *ngSwitchDefault style="color: black;">Default Color</h1>
</div> -->



<!--Loop-->
<!-- <h1 *ngFor="let item of users">{{ item }}</h1>
<h1 *ngFor="let item of userDetails">{{ item.name }} -- {{ item.email }}</h1> -->
<!-- <ul *ngFor="let item of userDetails">
  <li>{{ item.name }}</li>
  <li>{{ item.email }}</li>
    <ul *ngFor="let accounts of item.socialAccounts">
      <li>{{ accounts }}</li>
    </ul>
</ul> -->

<!-- <app-basic-form></app-basic-form> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->

<!--parent to child data pass-->
<!-- <app-child [item]="name"></app-child> -->
<!-- <app-parent-component></app-parent-component> -->

<!--child to parent data pass-->
<!-- <app-child (updateDataEvent)="updateData($event)"></app-child> -->


<!-- custom pipe example -->
<!-- <app-pipe-example></app-pipe-example> -->


<!-- Template driven form example -->
<!-- <app-template-form></app-template-form> -->

<!-- Reactive form example -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- Angular Service Example -->
<!-- <app-service-example></app-service-example>
<app-footer></app-footer> -->

<!-- Angular Directives Example -->
<!-- <app-directives></app-directives> -->

<!-- Template Reference Variable -->
<!-- <app-template-reference-variable></app-template-reference-variable> -->

<!-- @viewChild decorator -->
<!-- <app-view-child></app-view-child> -->

<!-- Ng-Content Example -->
<app-ng-content-example></app-ng-content-example>
