<h3>{{'ng-content-example works!' | uppercase}}</h3>
<p>The ng-content is used when we want to insert the content dynamically inside the component that helps to increase component resuability. Using ng-content we can pass content inside the component selector and when angular pareses that content , that content appears at the place of ng-content</p>
<app-content>
    <h1 class="title">Mobile</h1>
    <button class="btn">Mobile button</button>
</app-content>
<app-content>
    <h1 class="title">Laptop</h1>
    <button class="btn">Laptop button</button>
</app-content>
<app-content>
    <h1 class="title">AC</h1>
    <button class="btn">AC button</button>
</app-content>
<app-content>
    <h1 class="title">TV</h1>
    <button class="btn">TV button</button>
</app-content>